<!DOCTYPE html>
<html>
  <head>
    <title>Flask Zodiac app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </script>
  </head>
  <body>
    <header class="jumbotron header_container">
      <h1>Know Your Zodiac</h1>
    </header>
    <div class="container2">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
